.div1 {
    width: 240px;
    height: 420px;
    padding: 10px;
    border: 1px solid black;
    background-color: #F5F5F5;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.gfg {
    font-size: 40px;
    color: #009900;
    font-weight: bold;
}

#virtual-wardrobe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.wardrobe-item {
    width: 100px;
    height: 100px;
    margin: 10px;
}